<h1>Ask</h1>

<div class="form-group">
  <form action="/answer" data-turbo="false">
    <input type="text" class="form-control" name="question">
    <input type="submit" type="button" class="btn btn-primary" value="Ask!">
  </form>
</div>
